@import url('https://fonts.googleapis.com/css?family=DM Sans:700|Nunito Sans:500');
:root{
    --text: #dee2e9;
    --background: #ECEFF7;
    --primary: #abbdda;
    --secondary: #86a6de;
    --accent: #15356d;
    --textfield: #cfcfcf;
}

h1, h2, h3, h4, h5 {
  font-family: 'DM Sans', sans-serif;
  font-weight: 900;
}

html {font-size: 100%; height: 100vh; width: 100vw; overflow-y:hidden; overflow-x:hidden; margin-top:-8px;} /* 16px */
h1 {font-size: 4.210rem; /* 67.36px */}
h2 {font-size: 3.158rem; /* 50.56px */}
h3 {font-size: 2.369rem; /* 37.92px */}
h4 {font-size: 1.777rem; /* 28.48px */}
h5 {font-size: 1.333rem; /* 21.28px */}
small {font-size: 0.750rem; /* 12px */}
body, p, input, button{
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 500;
}

.main{
    background-image: url(Resources/Background.jpg);
    background-size: cover;
    height: 100vh;
    width: 100vw;
    image-resolution: 50%;
    margin: 0;
}

#github-button{
    display: inline-block;
    margin-left: 1.5vw;
    margin-top: 0;
    width: max-content;
}

#linkCaption{
    vertical-align: middle;
    display: inline-block;
    color: var(--text);
    padding: 5px;
    height: max-content;
}

#linkcaptext{
    font-family: 'DM Sans', sans-serif;
    font-weight: 300;
    font-size: 0.8rem;;
}

path{
    fill: var(--text);
}
.side {
    height: 100vh;
    width: 20vw;
    position: fixed;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right, #000000, rgba(255,0,0,0));
    overflow-x:visible;
    padding-top: 20px;
}

/* Heading */
.heading{
    width: max-content;
    color: white;
    margin-left: 1.5vw;
    margin-top: -3vh;
    margin-bottom: -20px;
}

/* Login */

#login{
    text-align: left;
    width: 100%;
    height: 60vh;
    margin-left: 1.5vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: block;
    transition-duration: 0.5s;
}

#login-title{
    padding-top: 20px;
    color: var(--text);
}

#login-description{
    margin-top: -20px;
    padding-bottom: 20px;
    color: var(--textfield);
    width: 80%;
}

#login-form{
    text-align: left;
}

#login-name, #login-email, #login-password{
    margin-bottom: 15px;
    width: 95%;
    height: 40px;
    border: 2px solid var(--accent);
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
    background-color: var(--textfield)
}

#login-submit{
    margin-top: 15px;
    width: 45%;
    padding: 15px;
    background-color: var(--accent);
    color: white;
    border: 0;
    border-radius: 8px;
    float: left;
}

#login-submit:hover{
    background-color: white;
    color:black;
}

#register-button{
    margin-top: 15px;
    width: 45%;
    padding: 15px;
    background-color: rgba(255,0,0,0);
    color: var(--secondary);
    border: 0;
    border-radius: 8px;
    margin-right: 0;
    float: right;
}

#register-button:hover{
    color: var(--text);
}

/* Registration */
#register{
    text-align: left;
    width: 100%;
    height: 60vh;
    margin-left: 1.5vw;
    margin-top: 1vh;
    border-radius: 20px;
    display: none;
    transition-duration: 0.5s;
}

#register-title{
    padding-top: 20px;
    color: var(--text);
}

#register-description{
    margin-top: -20px;
    padding-bottom: 20px;
    color: var(--textfield);
    width: 80%;
}

#register-form{
    text-align: left;
}

#register-name, #register-email, #register-password{
    margin-bottom: 15px;
    width: 95%;
    height: 40px;
    border: 2px solid var(--accent);
    border-radius: 8px;
    text-align: left;
    padding-left: 15px;
    background-color: var(--textfield)
}

#register-submit{
    margin-top: 15px;
    width: 45%;
    padding: 15px;
    background-color: var(--accent);
    color: white;
    border: 0;
    border-radius: 8px;
    float: left;
}

#register-submit:hover{
    background-color: white;
    color:black;
}

#login-button{
    margin-top: 15px;
    width: 45%;
    padding: 15px;
    border: 0;
    border-radius: 8px;
    margin-right: 0;
    float: right;
    background-color: rgba(255,0,0,0);
    color: var(--secondary);
}

#login-button:hover{
    color: var(--text);
}